<tr>
    <td>1</td>
    <td>Person</td>
    <td>person@gmail.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a href="/update-user" class="btw border-shadow update">
            <span class="text-gradient"><i class="fa-solid fa-user-pen"></i></span>
        </a>
        <a href="" class="btw border-shadow update">
            <span class="text-gradient"><i class="fa-solid fa-user-xmark"></i></span>
        </a>
    </td>
 </tr>